<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} — {% endif %}Litany of Lawrences</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/pagefind/pagefind-ui.css">
  {% block head %}{% endblock %}
  <script src="/pagefind/pagefind-ui.js" defer></script>
  <script src="/js/main.js" defer></script>
</head>
<body>
  <nav class="site-nav">
    <span class="site-tagline">A Family Chronicle</span>
    <a href="/" class="site-title">A Litany of Lawrences</a>
    
    {% if page.url === "/" or page.url === '/family-tree/' or page.url === '/map/' %}    
    <div class="links">
      <a href="/family-tree/" class="underline site-nav-link">Family Tree</a>
      <a href="/map/" class="underline site-nav-link">Map</a>    
      </div>
    {% endif %}
    


    {% block navsearch %}{% endblock %}
  </nav>

  {% block content %}{% endblock %}
</body>
</html>
