---
title: Family Tree
permalink: /family-tree/
---
{% extends "base.njk" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/d3@7/dist/d3.min.js"></script>
<script src="/js/family-tree.js?v={{ cacheBust }}" defer></script>
{% endblock %}

{% block content %}
<script type="application/json" id="familytree-data" data-pagefind-ignore>{{ familytree | dump | safe }}</script>
<div class="tree-wrap">
  <div class="tree-zoom-controls">
    <button id="tree-zoom-in" aria-label="Zoom in">+</button>
    <button id="tree-zoom-out" aria-label="Zoom out">&minus;</button>
  </div>
  <svg id="family-tree" width="100%" data-pagefind-ignore>
    <g id="tree-root"></g>
  </svg>
</div>
{% endblock %}
