---
title: Generations
permalink: /generations/
---
{% extends "base.njk" %}

{% block head %}
<script src="/js/generations.js" defer></script>
{% endblock %}

{% block content %}
<script type="application/json" id="generations-data" data-pagefind-ignore>{{ familytree | dump | safe }}</script>
<div class="generations-page" data-pagefind-ignore>
  <div class="generations-container" id="generations"></div>
</div>
{% endblock %}
