---
title: Map
permalink: /map/
---
{% extends "base.njk" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" defer></script>
<script src="/js/map.js" defer></script>
{% endblock %}

{% block content %}
<script type="application/json" id="map-data" data-pagefind-ignore>{{ locations | dump | safe }}</script>
<div id="map" data-pagefind-ignore></div>
{% endblock %}
