---
title: Timeline
permalink: /timeline/
---
{% extends "base.njk" %}

{% block head %}
<script src="/js/timeline.js?v={{ cacheBust }}" defer></script>
{% endblock %}

{% block content %}
<script type="application/json" id="timeline-data" data-pagefind-ignore>{{ timeline | dump | safe }}</script>
<div class="timeline-page" data-pagefind-ignore>
  <div class="timeline-container" id="timeline"></div>
</div>
{% endblock %}
